<div class="field">
  <%= album.label :title, 'アルバムタイトル' %><br>
  <%= album.text_field :title %><br>
  <%= album.label :artist, 'アルバムアーティスト' %><br>
  <%= album.text_field :artist %><br>
</div>
<h3>Details --></h3>
<div class="details">
  <%# トラックの追加フォームをするボタン %>
  <%# 詳しいオプション : https://github.com/nathanvda/cocoon#link_to_add_association %>
  <%= link_to_add_association 'トラックの追加',
                              # form_withのformタグ変数
                              album,
                              # フォームのデータを追加するモデル名
                              :album_tracks,
                              # 追加するフォームの部分テンプレート
                              partial: "album_track_fields",
                              # オプション
                              data: {
                                # フォームを追加する場所の指定
                                association_insertion_node: '#album-track-forms',
                                # フォームを前後どの位置に追加するか。(初期値: before)
                                association_insertion_method: 'after'
                              },
                              # フォームオブジェクトを指定する場合(初期値 : f)
                              form_name: 'album_track',
                              # 部分テンプレートに渡す変数があれば記述
                              render_options: {
                                locals: {
                                  # 通常の部分テンプレートと同じ記述
                                }
                              }
  %>

  <hr>

  <%# フォームを追加する場所。%>
  <%#   link_to_add_associationのassociation_insertion_nodeで指定 %>
  <div id="album-track-forms">
    <%= album.fields_for :album_tracks do |album_track| %>
      <% render 'album_track_fields', album_track: album_track %>
    <% end %>
  </div>

</div>
<div class="field">
  <%= album.submit %>
</div>