<h1>Albums#show</h1>
<p>Find me in app/views/albums/show.html.erb</p>

<h2>Actions --></h2>
<ul>
  <li><%= link_to 'Edit Album', edit_album_path(@album) %></li>
  <li><%= link_to 'Delete Album', album_path(@album), method: :delete %></li>
</ul>

<h3>Title -> <%= @album.title %></h3>
<h3>Artist -> <%= @album.artist %></h3>
<hr>

<h4>Tracks --></h4>

<%# トラックの存在確認 %>
<% if @album.album_tracks.count == 0 %>
  <%# トラックなしの場合の表示 %>
  <p>
    該当トラックなし
  </p>
<% else %>
  <%# トラックがある場合の表示 %>
  <p>
    <%= "#{@album.album_tracks.count} Tracks" %>
  </p>
  <ul>
    <% @album.album_tracks.each do |track| %>
      <li>
        <%= track.title %>
      </li>
    <% end %>
  </ul>
<% end %>
